plotly>=3.1
ipywidgets>=7.2
notebook>=5.3
numpy
pandas
sklearn
scipy
pillow
datashader
urllib3>=2.6.0 # not directly required, pinned by Snyk to avoid a vulnerability
tornado>=6.5.3 # not directly required, pinned by Snyk to avoid a vulnerability
anyio>=4.4.0 # not directly required, pinned by Snyk to avoid a vulnerability
jupyter-server>=2.14.1 # not directly required, pinned by Snyk to avoid a vulnerability
setuptools>=78.1.1 # not directly required, pinned by Snyk to avoid a vulnerability
jupyter-core>=5.8.0 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
requests>=2.32.2 # not directly required, pinned by Snyk to avoid a vulnerability
ipython>=8.10.0 # not directly required, pinned by Snyk to avoid a vulnerability
